body{
	background-color: #003399;
}	
img{
	width: 100%;	
}

html *{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}


/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

img 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	background-color: red;
}

/* width will be 100% of content */
#refreshButton{
	width: 50%;
	background-color: #4CAF50;
  border: 2px solid black;
  color: white;
  padding: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  display:block  
}

#disconnectButton{
	width: 50%;
	background-color: #4CAF50;
  border: 2px solid black;
  color: white;
  padding: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  display:block  

}


#ledOnButton {
	width: 25%;
	background-color: #4CAF50;
  border: 2px solid black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  display:block 
}

#sendButton{
	width: 100%;
	
}
