body {
	background-color: #003399;
}

html *
{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

h1 {
text-align: center;
width: 80%;
margin auto;
}


#testtekst {
	text-align: center;	
	font-weight: bold;
}

#content1 {
	width: 80%;
	margin auto;
}


.button {
  background-color: #4CAF50;
  border: 2px solid black;
  color: white;
  padding: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  display:block  
}



img 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}